<h1>What question would you like answered?</h1>

<% if @questions.errors.any? %>
  <p><strong>Error!</strong> <%= @questions.errors.full_messages.to_sentence %></p>
<% end %>

<%= bootstrap_form_for @questions do |f| %>
  <%= f.text_field :title, label: "Question Title"%>
  <%= f.text_area :description, label: "My question:" %>
  <button>Submit</button>
<% end %>